<%= form_with model: movie, local: true, html: { multipart: true } do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
          <div class="field form-group">
            <%= form.text_field :title,
            class:"form-control",
            placeholder:"title" %>
          </div>

          <div class="field form-group">
            <%= form.text_field :decription,
            class:"form-control",
            placeholder:"description" %>
          </div>

          <div class="field form-group">
            <%= form.text_field :movie_lenght,
            class:"form-control",
            placeholder:"movie lenght" %>
          </div>

          <div class="field form-group">
            <%= form.text_field :director,
            class:"form-control",
            placeholder:"director" %>
          </div>
    </h5>

    <p class="card-text">

      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div> 
    </p>
    <a>
      <%= link_to "New Movie", new_movie_path, class: "btn btn-primary" %>
   </a>
  </div>
</div>

<% end %>
